{% extends "layout.jinja2" %}
{% block title %}
New Entry
{% endblock %}
{% block body %}
<div class="form container">
    <div class="row">
        <h5>create new journal entry:</h5>
        <form action="">
            <input class="title_input" type="text" name="Title" placeholder="Title">
            <input id="date" type="date" value="{{ date }}">
            <textarea placeholder="What did I learn today?"></textarea><br>
            <input id="submit_button" type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}