{% extends "layout.jinja2" %}
{% macro lj_entry(entry) %}
<div class="row">
    <article>
        <h6 class="date">{{ entry.date }}</h6>
        <a href="{{ request.route_url('detail', id=entry.id) }}"><h4>{{ entry.title }}</h4></a>
    </article>
</div>
{% endmacro %}}
{% block title %}
today I learned...
{% endblock %}
{% block body %}
<div class="entries container">
    {{ lj_entry(latest) }}
    <div class="one-half column">
        {% for entry in left_entries %}
            {{ lj_entry(entry) }}
        {% endfor %}
    </div>
    <div class="one-half column">
        {% for entry in right_entries %}
            {{ lj_entry(entry) }}
        {% endfor %}
    </div>
</div>
{% endblock %}