<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ford Fowler Learning Journal</title>
    <meta name="description" content="Daily Learning Journal">
    <meta name="author" content="Ford Fowler">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/vendor/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/vendor/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header container">
        <div class="row">
            <header>
                <ul>
                    <li><a href="/"><h3>today I learned ...</h3></a></li>
                    <li id="newentry"><a href="/journal/new-entry">Add new entry</a></li>
                </ul>
            </header>
        </div>
    </div>
    <div class="entries container">
        <div class="latest">
            <article>
                <h6 class="date">Dec. 19, 2016</h6>
                <a href="/journal/1"><h4>Routes and Views with Pyramid</h4></a>
            </article>
        </div>
        <div class="one-half column">
            <div class="row">
                <article>
                    <h6 class="date">Dec. 16, 2016</h6>
                    <a href="/journal/2"><h4>Concurrency With: gevent</h4></a>
                </article>
            </div>
            <div class="row">
                <article>
                    <h6 class="date">Dec. 15, 2016</h6>
                    <a href="/journal/4"><h4>Sending files</h4></a>
                </article>
            </div>
            <div class="row">
                <article>
                    <h6 class="date">Dec. 13, 2016</h6>
                    <a href="/journal/6"><h4>Echo Servers</h4></a>
                </article>
            </div>
        </div>
        <div class="one-half column">
            <div class="row">
                <article>
                    <h6 class="date">Dec. 14, 2016</h6>
                    <a href="/journal/3"><h4>HTTP Server</h4></a>
                </article>
            </div>
            <div class="row">
                <article>
                    <h6 class="date">Dec. 13, 2016</h6>
                    <a href="/journal/5"><h4>Echo Servers</h4></a>
                </article>
            </div>
            <div class="row">
                <article>
                    <h6 class="date">Dec. 13, 2016</h6>
                    <a href="/journal/7"><h4>Echo Servers</h4></a>
                </article>
            </div>
        </div>
    </div>

</body>
</html>