{% extends "layout.jinja2" %}
{% block title %}
Home Sweet Home
{% endblock %}
{% block body %}
<h1>This is header</h1>
<ul>
 {% for item in bag %}
    <li>{{ item }}</li>
 {% endfor %}
{% endblock %}